<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DapperApp.Properties.Settings.sampleConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\127.0.0.1\db\sample.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>